@{
    ViewData["Title"] = "نقشه ایران";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link href="~/css/site.css" rel="stylesheet" />

<style>
    #map {
        height: 100%;
        width: 100%;
    }

    #trash {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 80px;
        height: 80px;
        background: #e74c3c;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 1000;
        cursor: pointer;
        box-shadow: 0 0 10px #0005;
        transition: all 0.2s ease;
        user-select: none;
    }

        #trash.active {
            background: #2ecc71;
            transform: scale(1.2);
            box-shadow: 0 0 20px #2ecc71aa;
        }

    #addMarker {
        position: absolute;
        bottom: 108px;
        right: 23px;
        width: 80px;
        height: 80px;
        background: #0069d9;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 1000;
        cursor: pointer;
        box-shadow: 0 0 10px #0005;
        transition: all 0.2s ease;
        user-select: none;
        font-size: xx-large;
    }

    /*  body.adding-marker {
                cursor: url('../images/marker.png') 16 32, auto;
            } */
    /* cursor: url('../images/marker-icon-red.png'); */

    body.adding-marker,
    .leaflet-container.adding-marker-cursor {
        cursor: crosshair;
    }

    .k-context-menu {
        z-index: 9999 !important;
    }

</style>

<div class="row">
    <div class="col-12">
        <div id="window1" style="display:none;"></div>

        <div id="map" style="position:fixed"></div>
        <div id="addMarker">📍</div>
        <div id="trash">🗑️</div>
    </div>
</div>


<ul id="marker-context-menu" style="display:none;">
    <li data-command="edit">ویرایش</li>
    <li data-command="delete">حذف</li>
</ul>

<script src="~/js/signalr.js"></script>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="~/js/home.js"></script>

@section Scripts {
    <script>
            let contextMenu = null; // ✅ متغیر سراسری
        $(document).ready(function () {

           contextMenu = $("#marker-context-menu").kendoContextMenu({
                filter: ">li",
                select: function (e) {
                    const command = $(e.item).data("command");
                    const marker = $("#marker-context-menu").data("attachedMarker");

                    if (!marker) return;

                    if (command === "edit") {
                        alert("✏️ ویرایش مارکر");
                    } else if (command === "delete") {
                       // marker.remove();
                    }
                }
            }).data("kendoContextMenu");

            setTimeout(function(){
                    GetLocationList();
            },200);


        });




        function GetLocationList(){
            $.ajax({
              url: '/Home/GetLocationList',
              method: 'get',
              success: function (response) {
                  console.log(response);
                      response.forEach(item => {
                           addDraggableMarker(item.id,map, item.lat, item.lng, {
                           tooltipText: item.name
                           });
                      });
              },
              error: function () {
                showNotification( "خطا در انجام عملیات" , "error");
              }
            });
        }

    </script>



    <script>

        const connection = new signalR.HubConnectionBuilder()
          .withUrl("/AlarmHub")
          .build();

         let intervalId = null;
         async function startConnection() {
             try {
                 await connection.start();
                 console.log("✅ Connected to SignalR");
                 // // فقط یک بار interval بساز
                 // if (!intervalId) {
                 //     intervalId = setInterval(() => {
                 //         if (connection.state === signalR.HubConnectionState.Connected) {
                 //             connection.send("SendSystemInfo").catch(err => {
                 //                 console.error("Send error:", err);
                 //             });
                 //         }
                 //     }, 1000);
                 // }

             } catch (err) {
                 console.error("❌ Connection failed:", err);
                 setTimeout(startConnection, 5000);
             }
         }


                 // اگر اتصال قطع شد → متوقف کردن ارسال
         connection.onclose(() => {
             console.warn("❗ Connection closed");
             if (intervalId) {
                 clearInterval(intervalId);
                 intervalId = null;
             }
             setTimeout(startConnection, 5000); // تلاش مجدد
         });

         connection.onreconnected(() => {
             console.log("🔄 Reconnected");
             startConnection();
         });

         connection.onreconnecting(() => {
             console.warn("⏳ Reconnecting...");
         });

                 // قطع اتصال موقع ترک صفحه
         window.addEventListener("beforeunload", async () => {
             try {
                 await connection.stop();
                 console.log("SignalR disconnected on page unload");
             } catch (err) {
                 console.log("Error stopping connection on unload", err);
             }
         });

         // شروع اتصال
         startConnection();

         connection.on("ReceiveAlarm", (type,id) => {
            // document.getElementById("threadCount").innerText = `Threads: ${threadCount}`;
          // alert(id);

          if(type==="startAlarm"){
             makeMarkerBlink(`${id}`);
          }else{
            removeMarkerById(`${id}`);
            RegenerateMarkerById(`${id}`);
          }

         });



         function RegenerateMarkerById(id){
            $.ajax({
              url: '/Home/GetItem',  // آدرس مقصد دریافت اطلاعات (مثلاً یک فایل PHP)
              method: 'get',
              data: {
                  id: id
              },
              success: function (response) {
                 //showNotification( "عملیات با موفقیت انجام شد" , "success");

                  addDraggableMarker(response.id,map, response.lat, response.lng, {
                           tooltipText: response.name
                           });
              },
              error: function () {
                showNotification( "خطا در انجام عملیات" , "error");
              }
            });
        }


    </script>


}

