
@{
    ViewData["Title"] = "نقشه ایران";
}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link href="~/css/site.css" rel="stylesheet" />
   
    <style>
        #map {
            height: 100%;
            width: 100%;
        }

        #trash {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 80px;
            height: 80px;
            background: #e74c3c;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            z-index: 1000;
            cursor: pointer;
            box-shadow: 0 0 10px #0005;
            transition: all 0.2s ease;
            user-select: none;
        }

            #trash.active {
                background: #2ecc71;
                transform: scale(1.2);
                box-shadow: 0 0 20px #2ecc71aa;
            }

    #addMarker {
        position: absolute;
        bottom: 108px;
        right: 23px;
        width: 80px;
        height: 80px;
        background: #0069d9;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 1000;
        cursor: pointer;
        box-shadow: 0 0 10px #0005;
        transition: all 0.2s ease;
        user-select: none;
        font-size:xx-large;
    }

   /*  body.adding-marker {
        cursor: url('../images/marker.png') 16 32, auto;
    } */
    /* cursor: url('../images/marker-icon-red.png'); */

    body.adding-marker,
    .leaflet-container.adding-marker-cursor {
        cursor: crosshair;
    }


    </style>

    <div class="row">
        <div class="col-12">
        <div id="window1" style="display:none;"></div>

        <div id="map" style="position:fixed"></div>
        <div id="addMarker">📍</div>
        <div id="trash">🗑️</div>
        </div>
    </div>


    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="~/js/home.js"></script>

  
