
@{

}
    <style>
    body {
        background-color: #121212;
        color: #fff;
        min-height: 100vh;
    }

    .btn-dark-custom {
        background-color: #1f1f1f;
        border: 1px solid #333;
        color: #fff;
        text-decoration: none;
    }

        .btn-dark-custom:hover {
            background-color: #333;
            color: #fff;
        }
    </style>

    <div class=" d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="text-center w-100">
            <h2 class="mb-4">فرم عملیات</h2>
            <div class="d-grid gap-3 col-6 mx-auto">
            <a href="/home/index" class="btn btn-dark-custom">ثبت اطلاعات</a>
            <a href="/Simulation/index" class="btn btn-dark-custom">جستجوی اطلاعات</a>
            <a href="#" class="btn btn-dark-custom">گزارش‌گیری</a>
            </div>
        </div>
    </div>

