
@{
    Layout = null;
}




    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header text-center">
                <h4>  </h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">نام</label>
                        <input type="text" class="form-control" id="name" placeholder="نام خود را وارد کنید">
                    </div>
                <button type="button" onclick="AddLocation();" class="btn btn-primary">ذخیره‌سازی</button>
                </form>
            </div>
        </div>
    </div>






<script>
    $(document).ready(function () {
        
    });



    function AddLocation(){
          var nameValue = $('#name').val();        
        $.ajax({
          url: '/Home/AddLocation',  // آدرس مقصد دریافت اطلاعات (مثلاً یک فایل PHP)
          method: 'POST',
          data: {
              name: nameValue,
              lat:latitude,
              lng:longitude,
          },
          success: function (response) {
             //  notification.show("عملیات با موفقیت انجام شد", "success");   
             showNotification( "عملیات با موفقیت انجام شد" , "success");
             closeKendoWindow('#window1');
          },
          error: function () {    
            //notification.show("خطا در انجام عملیات", "error");    
            showNotification( "عملیات با موفقیت انجام شد" , "error");
          }
        });
    }
</script>
