html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.blinking-icon {
    width: 50px!important;
    height: 50px!important;
    background-color: red;
    border-radius: 50%;
    animation: blinking 1s infinite;
    border: 2px solid white;
}

@keyframes blinking {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


